In [1]:
import numpy as np

In [2]:
a1=np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
a1.dtype, a1.shape, a1.size

(dtype('int64'), (3,), 3)

In [4]:
a2=np.array([[1,2,3],
             [4,5,6]])
a2.dtype,a2.shape,a2.size

(dtype('int64'), (2, 3), 6)

In [7]:
a3=np.array([[[1,2,3],
              [4,5,6],
              [7,8,9]],

             [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [8]:
a3.size,a3.shape,a3.dtype

(18, (2, 3, 3), dtype('int64'))

In [9]:
a3.ndim,a2.ndim,a1.ndim

(3, 2, 1)

In [11]:
import pandas as pd

In [16]:
dataF=pd.DataFrame(a2)
dataF

   0  1  2
0  1  2  3
1  4  5  6